.bell{
    display: none;
}

@media (max-width: 1000px) {
    .bell{
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: end;
        padding: 1rem 2rem;
        font-size: 1.4rem;
        color: gray;
    }
}