.middle-container{
    width: 60%;
    padding: 3rem 3.5rem ;
}

.middle-heading p{
    color: blue;
    font-weight: 500;
}

.middle-heading h3{
    font-size: 1.2rem;
    font-weight: 500;
}

.info-box{
    padding: 0;
    display: flex;
    margin-top: 1rem;
}

.chart-section{
    margin-top: 1.5rem;
}

.bottom-sub{
    font-size: 12px;
    color:#c0c0c0;  
}

.bottom-content{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.data-bottom{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.data{
    display: flex;
    width: 100px;
    gap: 5px;
    align-items: center;
    font-size: 0.5rem;
}

.data p{
    font-size: 10px;
 color:#545454;
 font-weight: 600;
}
.data-bottom hr{
    border-color: #c0c0c0;
    border-width: 0.9px;
}

.radial-chart{
    display: flex;
    gap: 50px;
}
.bar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 1200px) {
    .middle-container{
        padding: 1.2rem;
        width: 600px;
    }
    .info-box{
        margin-top: 0;
    }
    .bottom-content {
        justify-content: flex-start;
        gap: 30px;
      }
      .data-bottom{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 15px;
    }
    .chart-section{
        margin-top: 1rem;
    }
    .bottom-content{
        display: flex;
        justify-content: space-between;
        margin-top: 0.2rem;
    }
      
      
}

@media (max-width: 1000px) {
    .bottom-content{
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
    }
    .chart-section{
        margin-top: 1.5rem;
    }
    .middle-container {
      width: 100%;
      background-color: white;
      padding: 3rem 3.5rem ;
    }
    .bottom-content {
      justify-content: flex-start;
      gap: 30px;
    }
    .data-bottom{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .data {
      display: flex;
      width: 150px;
      gap: 5px;
      align-items: center;
      font-size: 0.5rem;
    }
    .data p {
      font-size: 13px;
      color: #545454;
      font-weight: 600;
    }
    .radial-chart{
        gap: 50px;
    }
    .info-box{
        width: 100%;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: 1rem;
    }
  }
  
  /* Media query for screens below 480px */
  @media (max-width: 480px) {
    .middle-container{
        padding: 1rem;
    }
    .info-box{
        padding: 0rem 1rem;
    }
    .bottom-content {
      justify-content: center;
      align-items: center;
      gap: 20px;
      flex-direction: column;
    }
    .data-bottom {
      width: 100%;
      gap: 15px;
      padding: 0 1rem;
    }
    .middle-heading{
        padding:0rem  1rem;
    }
    
    .radial-chart{
        gap: 10px;
    }
    .bottom-sub{
        padding: 0rem 1rem;
    }
    .bottom-h3{
        padding: 0rem 1rem;
    }
  }