

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

a{
  text-decoration: none;
}
li{
  list-style: none;
}

.app{
  height: 96vh;
  border-radius: 10px;
  display: flex;
  background-color: white;
}


@media (max-width: 780px) {
  .app{
    height: 100%;
    border-radius: 0;
    display: inline;
    background-color: white;
  }
}